@charset "utf-8";
body {
    margin: 0;
    font-family: "Yu Gothic", sans-serif;
    background-color: #F4E6D0;
}

header {
    background-color: #8B0000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.menu-item {
    margin-bottom: 40px;
}

.menu-item h3 {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #8B0000;
}

footer {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

